section {
  background-color: #505f6e;
  height: 60vh;
  margin: 0 auto;
}

.line-header {
  display: flex;
  justify-content: center;
}

.line-header h2 {
  margin-top: 100px;
  font-size: 20px;
  font-style: italic;
  align-items: center;
  justify-content: center;
  color: orange;
  text-transform: uppercase;
  /* position: relative; */
  margin-bottom: 10px;
}

.line-header h2:before {
  content: "";
  display: inline-block;
  width: 190px;
  height: 3px;
  background-color: rgba(238, 223, 223, 0.5);
  position: absolute;
  left: 370px;
  margin-top: 10px;
  border: none;
}

.line-header h2:after {
  content: "";
  display: inline-block;
  width: 190px;
  height: 3px;
  background-color: rgba(238, 223, 223, 0.5);
  position: absolute;
  right: 370px;
  margin-top: 10px;
  border: none;
}

.SUBSCRIBE {
  text-align: center;
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.line-footer {
  display: flex;
  justify-content: center;
}

.line-footer img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}

.line-footer:before {
  content: "";
  display: inline-block;
  width: 250px;
  height: 3px;
  background-color: rgba(238, 223, 223, 0.5);
  position: absolute;
  left: 370px;
  margin-top: 20px;
  border: none;
}

.line-footer:after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 3px;
  background-color: rgba(238, 223, 223, 0.5);
  position: absolute;
  right: 370px;
  margin-top: 20px;
  border: none;
}
